<h1>Listing libros</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Autor</th>
    <th>Isbn</th>
    <th>Calificacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @libros.each do |libro| %>
  <tr>
    <td><%= libro.titulo %></td>
    <td><%= libro.autor %></td>
    <td><%= libro.isbn %></td>
    <td><%= libro.calificacion %></td>
    <td><%= link_to 'Show', libro %></td>
    <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
    <td><%= link_to 'Calificar', calificar_libro_path(libro) %></td>
    <td><%= link_to 'Destroy', libro, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Libro', new_libro_path %>

